{% extends 'base.html.twig' %}

{% block title %}Blog Coiffures Afro
{% endblock %}

{% block body %}
	<h1 class="col-xl-6 mx-auto">Bienvenue dans notre blog sur les coiffures Afro</h1>
	<p class="col-xl-6 mx-auto mt-3">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

	<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active" data-bs-interval="9000">
				<img src="img/img2.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item" data-bs-interval="9000">
				<img src="img/img3.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item" data-bs-interval="9000">
				<img src="img/img5.jpg" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précédent</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
	</div>
{% endblock %}
