
<h1>Bonjour voici mon nouveau de devis </h1>

<p>Mon email: {{ mail }} </p>
<p>Mon numéro de téléphone: {{ telephone }} </p>
<p>La préstation désirée: {{ subject }} </p>
<p>Ma demande spécifique: {{ content }} </p>
